* {
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS";
  height: 100vh;
  background: linear-gradient(#333, black);
  color: white;
}

.magic-generator, .stat-points, .stats {
  width: 230px;
  border: 5px outset #333;
  margin-bottom: 10px;
  padding: 10px;
}
.magic-generator {
  background-color: #3d1766;
}
.magic-gen-name, .stat-amount {
  margin: 0 0 10px;
  display: flex;
  justify-content: center;
}
.magic-gen-cost, .stat-cost {
  display: block;
}
.stats-container {
  background-color: #310323;
  border: 10px inset #3a3534;
  width: 1000px;
  display: grid;
  justify-content: space-evenly;
}
.stat-points {
  background-color: #6f1ab6;
  margin-top: 20px;
  grid-column: 2/4
}
.stats {
  background-color: #cd0404;
}